* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    overflow: hidden;
}

@font-face {
    font-family: "custom";
    src: url(../src/font/IBMPlexSans-Regular.ttf);
}

body {
    font-family: "custom" !important;
    background-color: #2d2d2d;
    color: #fff;

    .music {
        min-width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .background-img {
            position: absolute;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .blank-div {
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-color: rgba(17, 17, 17, 0.2);
            z-index: -1;
        }

        .music-content {
            width: 270px;
            padding: 35px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 600;
            border-radius: 35px;
            box-shadow: 0 0 20px rgba(26, 26, 26, 0.1), 0 0 40px rgba(26, 26, 26, 0.1), 0 0 80px rgba(26, 26, 26, 0.1);
            backdrop-filter: blur(15px);

            .name,
            .music-title,
            .artist {
                margin: 10px 0;
                cursor: default;
            }

            .name {
                color: rgba(235, 235, 235, 0.5);
            }

            .music-title {
                font-size: 2em;
            }

            .artist {
                font-size: 1.2em;
                color: rgb(228, 228, 228);
                font-weight: 500;
            }

            .music-img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                position: relative;
                border-radius: 50%;
                animation: animateImg 0.5s linear infinite;
            }

            @keyframes animateImg {
                0%,
                100% {
                    transform: scale(1);
                }

                50% {
                    transform: scale(1.03);
                }
            }

            .music-time {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 10px 0;
                cursor: default;
            }

            input {
                width: 100%;
                height: 16px;
                outline: none;
                filter: hue-rotate(20deg);
                cursor: pointer;
            }

            .music-control {
                width: 100%;
                margin: 10px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                .previous,
                .forward,
                .play-btn {
                    font-size: 25px;
                    cursor: pointer;
                    color: rgb(228, 228, 228);
                }

                .play-btn {
                    font-size: 35px;
                }
            }
        }

        .change-background-img {
            width: 150px;
            height: 15px;
            border-radius: 12px 12px 0 0;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            z-index: 10;
            transform: translateY(-50%);
            transition: 0.3s;
            color: #eee;
            padding: 3px;
            cursor: pointer;
            font-weight: 600;
            text-align: center;
        }

        .change-background-img:hover {
            height: 25px;
            color: #222;
        }
    }
}
